.App {
  text-align: center;
  height: 100%;
}
:root {
  --primary: #2977ff;
  --gray: #ececec;
  --whitesmoke: #f5f5f5;
  --dark: #222;
  --navbar-height: 70px;
}
#navbar {
  height: var(--navbar-height);
  background-color: var(--primary);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 0.9px;
}
#main {
  width: 100%;
  height: 100%;
}
#camera-btn {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  position: absolute;
  bottom: 10px;
  font-size: 15px;
  left: calc(50% - 40px);
  border: 3px solid var(--primary);
}
.loading-spinner {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 3px solid var(--primary);
  border-right-color: transparent;
  border-radius: 50%;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
}
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
